# IDEs
.project
.pydevproject
.idea
.settings

# Composer
composer.phar
/vendor/

# Random files
*~
\#*
/nbproject/

# Environment
.env
dev/.env

# Build artifact (run build-adobe-zip.sh to create)
*.zip
build-adobe-zip.log
docs
