<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="paystack_payment_verify_after">
        <observer name="AfterPaymentVerifyObserver" instance="Pstk\Paystack\Observer\AfterPaymentVerifyObserver" />
    </event>
</config>
