<?xml version="1.0"?>
<!--
/**
 * Paytsack Inline Extension
 *
 * DISCLAIMER
 * This file will not be supported if it is modified.
 *
 * @category   Paystack
 * @author     Ibrahim Lawal (@ibrahimlawal)
 * @package    Paystack_Inline
 * @copyright  Copyright (c) 2016 Paystack. (https://www.paystack.com/)
 * @license    https://raw.githubusercontent.com/PaystackHQ/paystack-magento/master/LICENSE   MIT License (MIT)
 */
-->
<config>    
  <sections>
    <payment>
      <groups>
        <paystack_inline translate="label" module="paystack_inline">
          <label>Paystack Inline Module</label>
          <comment><![CDATA[<a href="https://dashboard.paystack.co/#/signup" target="_blank">Click here to sign up for a Paystack Account.</a>]]></comment>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>1</sort_order>
            </title>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>2</sort_order>
            </active>
            <test_mode translate="label">
              <label>Test Mode</label>
              <comment>While in test mode, you do not receive payments and can only use our <![CDATA[<a href="https://developers.paystack.co/docs/test-cards" target="_blank">Test Cards</a>]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
            </test_mode>
            <order_status translate="label">
              <label>New order status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>4</sort_order>
            </order_status>
            <secret_key_test translate="label,comment">
                <label>Secret Key (Test)</label>
                <comment>Check the <![CDATA[<a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a>]]> for yours.</comment>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <sort_order>5</sort_order>
            </secret_key_test>
            <public_key_test translate="label,comment">
                <label>Public Key (Test)</label>
                <comment>Check the <![CDATA[<a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a>]]> for yours.</comment>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <sort_order>6</sort_order>
            </public_key_test>
            <secret_key_live translate="label,comment">
                <label>Secret Key (Live)</label>
                <comment>Check the <![CDATA[<a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a>]]> for yours.</comment>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <sort_order>7</sort_order>
            </secret_key_live>
            <public_key_live translate="label,comment">
                <label>Public Key (Live)</label>
                <comment>Check the <![CDATA[<a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a>]]> for yours. Note that this is not available until you have completed the <![CDATA[<a href="https://dashboard.paystack.co/#/settings/request-go-live" target="_blank">Go-live</a>]]>.</comment>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <sort_order>8</sort_order>
            </public_key_live>
            <allowspecific translate="label">
              <label>Payment from applicable countries</label>
              <frontend_type>allowspecific</frontend_type>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>10</sort_order>
            </allowspecific>
            <specificcountry translate="label">
              <label>Payment from Specific countries</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>11</sort_order>
            </specificcountry>
          </fields>
        </paystack_inline>
      </groups>
    </payment>
  </sections>
</config>