<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <section id="payment">
        <group id="paystack_inline" type="" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" translate="label" module="paystack_inline">
            <label>Paystack Inline Module</label>
            <comment><a href="https://dashboard.paystack.co/#/signup" target="_blank">Click here to sign up for a Paystack Account.</a></comment>
            <field id="title" translate="label">
                <label>Title</label>
            </field>
            <field id="active" translate="label">
                <label>Enabled</label>
                <source_model>adminhtml/system_config_source_yesno</source_model>
            </field>
            <field id="test_mode" translate="label">
                <label>Test Mode</label>
                <comment>While in test mode, you do not receive payments and can only use our <a href="https://developers.paystack.co/docs/test-cards" target="_blank">Test Cards</a></comment>
                <source_model>adminhtml/system_config_source_yesno</source_model>
            </field>
            <field id="order_status" translate="label">
                <label>New order status</label>
                <source_model>adminhtml/system_config_source_order_status</source_model>
            </field>
            <field id="secret_key_test" translate="label,comment">
                <label>Secret Key (Test)</label>
                <comment>Check the <a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a> for yours.</comment>
            </field>
            <field id="public_key_test" translate="label,comment">
                <label>Public Key (Test)</label>
                <comment>Check the <a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a> for yours.</comment>
            </field>
            <field id="secret_key_live" translate="label,comment">
                <label>Secret Key (Live)</label>
                <comment>Check the <a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a> for yours.</comment>
            </field>
            <field id="public_key_live" translate="label,comment">
                <label>Public Key (Live)</label>
                <comment>Check the <a href="https://dashboard.paystack.co/#/settings/developer" target="_blank">Paystack Dashboard</a> for yours. Note that this is not available until you have completed the <a href="https://dashboard.paystack.co/#/settings/request-go-live" target="_blank">Go-live</a>.</comment>
            </field>
            <field id="allowspecific" translate="label">
                <label>Payment from applicable countries</label>
                <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
            </field>
            <field id="specificcountry" translate="label">
                <label>Payment from Specific countries</label>
                <source_model>adminhtml/system_config_source_country</source_model>
            </field>
        </group>
    </section>
</config>
